.gameBoard {
  width: 320px;
  height: 320px;
  /*border: 1px solid black;*/
  margin: 0 auto;
  display: block;
}

.gameRow {
  width: 320px;
  height: 80px;
  margin: 0 auto;
  /*border: 1px solid red;*/
  display: block;
}

.gameCells {
  width: 76px;
  height: 80px;
  margin: 0;
  border: 1px solid blue;
  display: inline-block;
}
